flows.json
[
    {
        "id": "95526930634809d4",
        "type": "tab",
        "label": "CAI-KIC-Bot-1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "181dbd850b4ded1f",
        "type": "tab",
        "label": "CAI-KIC-Bot",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "03e91b91ae2dd78a",
        "type": "tab",
        "label": "actionserver_einfach_icon",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7b59074ed1a3f1d6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "742315f5.67d93c",
        "type": "tab",
        "label": "openweather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "55e12b816939eb1a",
        "type": "tab",
        "label": "actionserver_weatherbot_plus_komplett",
        "disabled": false,
        "info": ""
    },
    {
        "id": "962e20b1df6e5746",
        "type": "http in",
        "z": "95526930634809d4",
        "name": "",
        "url": "/actionserver",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "2c23e0809b452ba0",
                "15cfd5cf81f28fc8"
            ]
        ]
    },
    {
        "id": "82d3e942bd932084",
        "type": "http response",
        "z": "95526930634809d4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "2c23e0809b452ba0",
        "type": "init",
        "z": "95526930634809d4",
        "name": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "90027d28a8d46334"
            ]
        ]
    },
    {
        "id": "e8b8fdb0618b64da",
        "type": "finish",
        "z": "95526930634809d4",
        "name": "",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "82d3e942bd932084"
            ]
        ]
    },
    {
        "id": "90027d28a8d46334",
        "type": "switch",
        "z": "95526930634809d4",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "action_weather",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "action_generalinfo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "4d9054034fca806c"
            ],
            [
                "cca3d3a3c91e823e"
            ]
        ]
    },
    {
        "id": "4d9054034fca806c",
        "type": "template",
        "z": "95526930634809d4",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://api.weatherstack.com/current?access_key=90e62510107eea200af79c404090be58&query={{slots.location}}",
        "output": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "a0bd70743cbf2cd8"
            ]
        ]
    },
    {
        "id": "a0bd70743cbf2cd8",
        "type": "http request",
        "z": "95526930634809d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "b29ff10cbad4bd42",
                "c418e9ce87f1dc8b"
            ]
        ]
    },
    {
        "id": "b29ff10cbad4bd42",
        "type": "template",
        "z": "95526930634809d4",
        "name": "",
        "field": "payload.text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "It is {{payload.current.weather_descriptions.0}} in {{payload.location.name}}, {{payload.location.country}} at the moment. The temperature is {{payload.current.temperature}} degrees, the humidity is {{payload.current.humidity}}% and the wind speed is {{payload.current.wind_speed}} mph.",
        "output": "str",
        "x": 520,
        "y": 200,
        "wires": [
            [
                "9fcb8f604e090d2e"
            ]
        ]
    },
    {
        "id": "9fcb8f604e090d2e",
        "type": "sendextra",
        "z": "95526930634809d4",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "payload.text",
        "textType": "msg",
        "image": "payload.current.weather_icons.0",
        "imageType": "msg",
        "attachment": "",
        "attachmentType": "str",
        "senderr": false,
        "x": 660,
        "y": 200,
        "wires": [
            [
                "e8b8fdb0618b64da"
            ]
        ]
    },
    {
        "id": "cca3d3a3c91e823e",
        "type": "template",
        "z": "95526930634809d4",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://en.wikipedia.org/w/api.php?action=opensearch&limit=1&namespace=0&format=json&search={{slots.location}}",
        "output": "str",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "4b925eb7a40f358e"
            ]
        ]
    },
    {
        "id": "4b925eb7a40f358e",
        "type": "http request",
        "z": "95526930634809d4",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "53620f556527195a"
            ]
        ]
    },
    {
        "id": "53620f556527195a",
        "type": "sendextra",
        "z": "95526930634809d4",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "You can find info here!",
        "textType": "str",
        "image": "",
        "imageType": "str",
        "attachment": "payload[3][0]",
        "attachmentType": "msg",
        "senderr": false,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "cb80cd1978e87141"
            ]
        ]
    },
    {
        "id": "cb80cd1978e87141",
        "type": "finish",
        "z": "95526930634809d4",
        "name": "",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "d72ae9297e66c4c6"
            ]
        ]
    },
    {
        "id": "d72ae9297e66c4c6",
        "type": "http response",
        "z": "95526930634809d4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "c418e9ce87f1dc8b",
        "type": "debug",
        "z": "95526930634809d4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "15cfd5cf81f28fc8",
        "type": "debug",
        "z": "95526930634809d4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 40,
        "wires": []
    },
    {
        "id": "b20435bd9dae38ed",
        "type": "http in",
        "z": "181dbd850b4ded1f",
        "name": "",
        "url": "/actionserver",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "7255c6df9198460e",
                "2f082555bd96afde"
            ]
        ]
    },
    {
        "id": "d215e1cd67ebeb25",
        "type": "http response",
        "z": "181dbd850b4ded1f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 200,
        "wires": []
    },
    {
        "id": "7255c6df9198460e",
        "type": "init",
        "z": "181dbd850b4ded1f",
        "name": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "099d5f4008173382",
                "5d10985f0a8baec1"
            ]
        ]
    },
    {
        "id": "d1144c7ffdf3c712",
        "type": "finish",
        "z": "181dbd850b4ded1f",
        "name": "",
        "x": 790,
        "y": 200,
        "wires": [
            [
                "d215e1cd67ebeb25"
            ]
        ]
    },
    {
        "id": "099d5f4008173382",
        "type": "switch",
        "z": "181dbd850b4ded1f",
        "name": "",
        "property": "action",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "action_weather",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "action_generalinfo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "8ef763995db294e3"
            ],
            [
                "473d8e217236c713"
            ]
        ]
    },
    {
        "id": "8ef763995db294e3",
        "type": "template",
        "z": "181dbd850b4ded1f",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://api.weatherstack.com/current?access_key=ZYX&query={{slots.location}}",
        "output": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "54e4a22d81779b03"
            ]
        ]
    },
    {
        "id": "54e4a22d81779b03",
        "type": "http request",
        "z": "181dbd850b4ded1f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "75f4db2fbeb04626"
            ]
        ]
    },
    {
        "id": "473d8e217236c713",
        "type": "template",
        "z": "181dbd850b4ded1f",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://en.wikipedia.org/w/api.php?action=opensearch&limit=1&namespace=0&format=json&search={{slots.location}}",
        "output": "str",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "0eb3faaa35ea2309"
            ]
        ]
    },
    {
        "id": "0eb3faaa35ea2309",
        "type": "http request",
        "z": "181dbd850b4ded1f",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 300,
        "wires": [
            [
                "05a6710e7d3264f8"
            ]
        ]
    },
    {
        "id": "05a6710e7d3264f8",
        "type": "sendextra",
        "z": "181dbd850b4ded1f",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "You can find info here!",
        "textType": "str",
        "image": "",
        "imageType": "str",
        "attachment": "payload[3][0]",
        "attachmentType": "msg",
        "senderr": false,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "11f211cf7cab5b96"
            ]
        ]
    },
    {
        "id": "11f211cf7cab5b96",
        "type": "finish",
        "z": "181dbd850b4ded1f",
        "name": "",
        "x": 610,
        "y": 300,
        "wires": [
            [
                "f89157c82975a16a"
            ]
        ]
    },
    {
        "id": "f89157c82975a16a",
        "type": "http response",
        "z": "181dbd850b4ded1f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "5d10985f0a8baec1",
        "type": "debug",
        "z": "181dbd850b4ded1f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "2f082555bd96afde",
        "type": "debug",
        "z": "181dbd850b4ded1f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 40,
        "wires": []
    },
    {
        "id": "75f4db2fbeb04626",
        "type": "function",
        "z": "181dbd850b4ded1f",
        "name": "Prepare API Request",
        "func": "var data = JSON.stringify(msg.payload.current)\nvar location = \" location is: \" + msg.slots.location\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": \"Bearer XYZ\"\n};\n\nmsg.payload = {\n    model: \"gpt-4o\",\n    messages: [\n        { \"role\": \"system\", \"content\": \"You are a weather service. Generate a weather report based on the following data. Include the most relevant information. Make it one sentence long. Add a friendly remark. Answer in German.\" },\n        { \"role\": \"user\", \"content\": data + location}\n    ],\n    temperature: 1,\n    max_tokens: 2048,\n    top_p: 1,\n    frequency_penalty: 0,\n    presence_penalty: 0\n};\n\nmsg.url = \"https://api.openai.com/v1/chat/completions\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 200,
        "wires": [
            [
                "331b0d4eb953874f"
            ]
        ]
    },
    {
        "id": "331b0d4eb953874f",
        "type": "http request",
        "z": "181dbd850b4ded1f",
        "name": "Call OpenAI API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "9cb80132c84af744",
                "4a9369056d2e5775"
            ]
        ]
    },
    {
        "id": "9cb80132c84af744",
        "type": "debug",
        "z": "181dbd850b4ded1f",
        "name": "Show Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "4a9369056d2e5775",
        "type": "sendtext",
        "z": "181dbd850b4ded1f",
        "name": "",
        "position": "0",
        "positionType": "num",
        "text": "payload.choices[0].message.content",
        "textType": "msg",
        "senderr": false,
        "x": 640,
        "y": 560,
        "wires": [
            [
                "d1144c7ffdf3c712"
            ]
        ]
    },
    {
        "id": "3e9e6445909ff09c",
        "type": "http request",
        "z": "03e91b91ae2dd78a",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "cdde7f153cc85061"
            ]
        ]
    },
    {
        "id": "2304de4f305ac5e2",
        "type": "template",
        "z": "03e91b91ae2dd78a",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://api.openweathermap.org/data/2.5/weather?q={{slots.location}}&appid=<apikey>&units=metric",
        "output": "str",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "3e9e6445909ff09c"
            ]
        ]
    },
    {
        "id": "cdde7f153cc85061",
        "type": "template",
        "z": "03e91b91ae2dd78a",
        "name": "",
        "field": "payload.text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "It is {{payload.weather.0.description}} in {{payload.name}}, {{payload.sys.country}} at the moment. The temperature is {{payload.main.temp}} degrees, the humidity is {{payload.main.humidity}}% and the wind speed is {{payload.wind.speed}} m/s.",
        "output": "str",
        "x": 580,
        "y": 120,
        "wires": [
            [
                "56cf445d89e1b585"
            ]
        ]
    },
    {
        "id": "5a3b67207b4f8d4a",
        "type": "http in",
        "z": "03e91b91ae2dd78a",
        "name": "",
        "url": "/actionserver",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "57cb1291aaeb2d57"
            ]
        ]
    },
    {
        "id": "14ef588d4a65fd43",
        "type": "http response",
        "z": "03e91b91ae2dd78a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "57cb1291aaeb2d57",
        "type": "init",
        "z": "03e91b91ae2dd78a",
        "name": "",
        "x": 450,
        "y": 40,
        "wires": [
            [
                "2304de4f305ac5e2"
            ]
        ]
    },
    {
        "id": "afdff720c12f09b4",
        "type": "finish",
        "z": "03e91b91ae2dd78a",
        "name": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "14ef588d4a65fd43"
            ]
        ]
    },
    {
        "id": "509b633bdffb9c0e",
        "type": "sendextra",
        "z": "03e91b91ae2dd78a",
        "name": "",
        "position": "",
        "positionType": "num",
        "text": "payload.text",
        "textType": "msg",
        "image": "payload.weathericon",
        "imageType": "msg",
        "attachment": "",
        "attachmentType": "str",
        "senderr": false,
        "x": 240,
        "y": 260,
        "wires": [
            [
                "afdff720c12f09b4"
            ]
        ]
    },
    {
        "id": "56cf445d89e1b585",
        "type": "template",
        "z": "03e91b91ae2dd78a",
        "name": "",
        "field": "payload.weathericon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://openweathermap.org/img/wn/{{payload.weather.0.icon}}@2x.png",
        "output": "str",
        "x": 240,
        "y": 180,
        "wires": [
            [
                "509b633bdffb9c0e",
                "cdc43d0ec1c8c399"
            ]
        ]
    },
    {
        "id": "cdc43d0ec1c8c399",
        "type": "debug",
        "z": "03e91b91ae2dd78a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.image",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "b94ec28435d6e2fd",
        "type": "inject",
        "z": "7b59074ed1a3f1d6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "0a7fc93734744eec"
            ]
        ]
    },
    {
        "id": "0a7fc93734744eec",
        "type": "http request",
        "z": "7b59074ed1a3f1d6",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.zippopotam.us/de/by/kempten",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 330,
        "y": 80,
        "wires": [
            [
                "25676d471b78c1c5"
            ]
        ]
    },
    {
        "id": "53ad18586ca1fac1",
        "type": "debug",
        "z": "7b59074ed1a3f1d6",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.Land",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 80,
        "wires": []
    },
    {
        "id": "25676d471b78c1c5",
        "type": "template",
        "z": "7b59074ed1a3f1d6",
        "name": "",
        "field": "payload.Land",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.places.0.post code}}\n",
        "output": "str",
        "x": 500,
        "y": 80,
        "wires": [
            [
                "53ad18586ca1fac1"
            ]
        ]
    },
    {
        "id": "47e02a07.d1a224",
        "type": "inject",
        "z": "742315f5.67d93c",
        "name": "",
        "props": [
            {
                "p": "payload.location",
                "v": "Paris",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 40,
        "wires": [
            [
                "af6e9534.40a508"
            ]
        ]
    },
    {
        "id": "c5a09e0c.9b3db8",
        "type": "http request",
        "z": "742315f5.67d93c",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "6cdafd20.7d95c4",
                "52af517b.96296"
            ]
        ]
    },
    {
        "id": "81fdb67c.151b08",
        "type": "debug",
        "z": "742315f5.67d93c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "af6e9534.40a508",
        "type": "template",
        "z": "742315f5.67d93c",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://api.openweathermap.org/data/2.5/weather?q={{payload.location}}&appid=2d700009fe0e1503255bea6aa4af3b13&units=metric",
        "output": "str",
        "x": 260,
        "y": 40,
        "wires": [
            [
                "c5a09e0c.9b3db8"
            ]
        ]
    },
    {
        "id": "6cdafd20.7d95c4",
        "type": "template",
        "z": "742315f5.67d93c",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "It is {{payload.weather.0.description}} in {{payload.name}} at the moment. The wind speed is {{payload.wind.speed}} meter/sec and the humidity is {{payload.main.humidity}}%. The temperature is {{payload.main.temp}}°C.",
        "output": "str",
        "x": 400,
        "y": 120,
        "wires": [
            [
                "81fdb67c.151b08"
            ]
        ]
    },
    {
        "id": "52af517b.96296",
        "type": "debug",
        "z": "742315f5.67d93c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "64eaea78bbee8a1a",
        "type": "http request",
        "z": "55e12b816939eb1a",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "c1a1b92b7d52b592"
            ]
        ]
    },
    {
        "id": "6fc9219f2f4ff0ca",
        "type": "template",
        "z": "55e12b816939eb1a",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://api.openweathermap.org/data/2.5/weather?q={{slots.location}}&appid=<apikey>&units=metric",
        "output": "str",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "64eaea78bbee8a1a"
            ]
        ]
    },
    {
        "id": "c1a1b92b7d52b592",
        "type": "template",
        "z": "55e12b816939eb1a",
        "name": "",
        "field": "payload.text",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "It is {{payload.weather.0.description}} in {{payload.name}}, {{payload.sys.country}} at the moment. The temperature is {{payload.main.temp}} degrees, the humidity is {{payload.main.humidity}}% and the wind speed is {{payload.wind.speed}} m/s.",
        "output": "str",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "514354328eb535e5"
            ]
        ]
    },
    {
        "id": "1144408b09774e22",
        "type": "http in",
        "z": "55e12b816939eb1a",
        "name": "",
        "url": "/actionserver",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "967644ce4b824898"
            ]
        ]
    },
    {
        "id": "f0f2bdaedba75e14",
        "type": "http response",
        "z": "55e12b816939eb1a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 180,
        "wires": []
    },
    {
        "id": "967644ce4b824898",
        "type": "init",
        "z": "55e12b816939eb1a",
        "name": "",
        "x": 270,
        "y": 40,
        "wires": [
            [
                "65aeac1f038db925"
            ]
        ]
    },
    {
        "id": "60178d7cbf31b625",
        "type": "finish",
        "z": "55e12b816939eb1a",
        "name": "",
        "x": 830,
        "y": 180,
        "wires": [
            [
                "f0f2bdaedba75e14"
            ]
        ]
    },
    {
        "id": "53de5c89bca0dcce",
        "type": "sendextra",
        "z": "55e12b816939eb1a",
        "name": "",
        "position": "",
        "positionType": "num",
        "text": "payload.text",
        "textType": "msg",
        "image": "payload.weathericon",
        "imageType": "msg",
        "attachment": "",
        "attachmentType": "str",
        "senderr": false,
        "x": 680,
        "y": 180,
        "wires": [
            [
                "60178d7cbf31b625"
            ]
        ]
    },
    {
        "id": "514354328eb535e5",
        "type": "template",
        "z": "55e12b816939eb1a",
        "name": "",
        "field": "payload.weathericon",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://openweathermap.org/img/wn/{{payload.weather.0.icon}}@2x.png",
        "output": "str",
        "x": 500,
        "y": 180,
        "wires": [
            [
                "53de5c89bca0dcce"
            ]
        ]
    },
    {
        "id": "23f0926cc2c12cc5",
        "type": "template",
        "z": "55e12b816939eb1a",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://en.wikipedia.org/w/api.php?action=opensearch&limit=1&namespace=0&format=json&search={{slots.location}}",
        "output": "str",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "b18171bff1750de6"
            ]
        ]
    },
    {
        "id": "b18171bff1750de6",
        "type": "http request",
        "z": "55e12b816939eb1a",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 240,
        "wires": [
            [
                "f53b97dcf422e113"
            ]
        ]
    },
    {
        "id": "65aeac1f038db925",
        "type": "switch",
        "z": "55e12b816939eb1a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "action_weather",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "action_generalinfo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "6fc9219f2f4ff0ca"
            ],
            [
                "23f0926cc2c12cc5"
            ]
        ]
    },
    {
        "id": "805e1f9b569cf3dc",
        "type": "finish",
        "z": "55e12b816939eb1a",
        "name": "",
        "x": 830,
        "y": 240,
        "wires": [
            [
                "f1628a2c816f046e"
            ]
        ]
    },
    {
        "id": "f1628a2c816f046e",
        "type": "http response",
        "z": "55e12b816939eb1a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 240,
        "wires": []
    },
    {
        "id": "f53b97dcf422e113",
        "type": "sendextra",
        "z": "55e12b816939eb1a",
        "name": "",
        "position": "",
        "positionType": "num",
        "text": "You can find info here!",
        "textType": "str",
        "image": "",
        "imageType": "str",
        "attachment": "payload[3][0]",
        "attachmentType": "msg",
        "senderr": false,
        "x": 680,
        "y": 240,
        "wires": [
            [
                "805e1f9b569cf3dc"
            ]
        ]
    }
]